<configuration>
  <system.webServer>
    <rewrite>
	  <rules>
  	    <rule name="Redirect requests to default azure websites domain" stopProcessing="true">
	      <match url="(.*)" />
		  <conditions logicalGrouping="MatchAny">
		    <add input="{HTTP_HOST}" pattern="^navxdocs-avehe7e9gxdtgnew.eastus2-01.azurewebsites.net$" />
		  </conditions>
		  <action type="Redirect" url="https://docs.nav-x.com/{R:0}" />
		</rule>
		<rule name="Redirect to /en/index.html" stopProcessing="true">
		  <match url="^index\.html" />
          <action type="Rewrite" url="/en/index.html" />		  
		</rule>
		<rule name="redirect some more stuff">
		  <match url="^([a-zA-Z]{2})-([a-ZA-Z]{2})/(.*)$" />
		  <action type="Rewrite" url="/{R:1}/{R:3}" />
		</rule>
		<rule name="redirect more to /en/index.html">
		  <match url="." />
		  <conditions logicalGrouping="MatchAll">
		    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
		  </conditions>
		  <action type="Rewrite" url="/en/index.html" />
		</rule>
	  </rules>
	</rewrite>
  </system.webServer>
</configuration>