html {
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-size-adjust: 100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
}

body, html {
    color: #34393e;
    line-height: 160%;
    font-family: Segoe UI,SegoeUI,Segoe WP,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word
}

/* CONTAINER */

.container,
.container .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
}

.sidenav,
#sidetoc,
.sidetoc,
.sidefilter {
	max-width: 350px;
}

/* MEDIA SPECIFIC */

@media all and (min-width:768px) {
    .navbar-nav {
        margin-top: 3px;
        margin-left: 5px;
    }
}

@media (min-width:1085px){
    .container,
    .container-fluid {
        padding-left: calc(6.77% + 25px);
        padding-right: calc(6.77% + 25px);
    }
}

@media (max-width: 330px) {
    .toc .level2 > li {
        display: block;
    }
  
    .toc .level2 > li:after {
        display: none;
    }
}

@media print, screen and (min-width: 768px) {
    .is-one-third,
    .is-one-third-tablet {
        flex: none;
        width: calc(33.3333% - 65px);
    }
    .article.grid-right {
        margin-left: calc(33.3333% + 25px);
    }
}

@media screen and (min-width: 1088px) {
    .is-one-quarter-desktop {
        flex: none;
        width: calc(25% - 65px);
    }
    .article.grid-right {
        margin-left: calc(25%);
    }
}

/* HEADINGS */

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.8;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.8;
}

h5 {
    font-size: 14px;
    padding: 10px 0px;
}

article h1,
article h2,
article h3,
article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h4 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

/* NAVBAR */

.navbar-brand>img {
    color: #fff;
    padding-top: 7px;
    height: 60px;
}

.navbar {
    border: none;
    /* Both navbars use box-shadow */
    -webkit-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
}

.subnav {
    border-top: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
}

.navbar-inverse {
    min-height: 55px;
    background-color: #fff;
    z-index: 100;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: #000000;
    background-color: #fff;
    padding-bottom: 12px;
    font-size: 14px;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover > .link-text {
	border-bottom: 2px solid #000;
	padding-bottom: 2px;
}

.navbar-inverse .navbar-nav > .active > a:hover > .link-text {
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: -1px;
}

.navbar-inverse .navbar-nav > .first-child > a > .link-text::before {
	content: "|";
	font-size: 24px;
	font-weight: normal;
	display: block;
	margin-left: -40px;
	padding-left: 18px;
	top: 11px;
	position: absolute;
}

.navbar-inverse ul.level1.navbar-nav  {
	padding-left: 20px;
}

.navbar-form {
    margin-top: 11px;
}

.navbar-form .form-control {
    border-radius: 20px;
}

/* SIDEBAR */

.toc .level1>li {
    font-weight: 400;
}

.toc .nav>li>a {
    color: #34393e;
}

.sidefilter {
    background-color: #fff;
    border-left: none;
    border-right: none;
    padding: 15px 0px 15px 5px;
	z-index: 2;
}

.toc-filter {
    padding: 10px 0px 10px 0px;
    margin: 0;
}

.toc-filter>input {
    border: 1px solid #ddd;
    border-radius: 20px;
	height: 34px;
}

.toc-filter>.filter-icon {
    display: none;
}

.sidetoc > .toc {
    background-color: #fff;
    overflow-x: hidden;
    font-size: 14px;
    height: 100%;
}

.sidetoc {
    background-color: #fff;
    border: none;
	margin: 1px 0;
}

.toc .nav > li.active.tree-item > .expand-stub::before, 
.toc .nav > li.in.tree-item > .expand-stub::before, 
.toc .nav > li.in.active.tree-item > .expand-stub::before, 
.toc .nav > li.filtered > .expand-stub::before{
    content: "\3009";
} 

.toc .nav > li.active.tree-item > .expand-stub,
.toc .nav > li.in.tree-item > .expand-stub,
.toc .nav > li.in.active.tree-item > .expand-stub,
.toc .nav > li.filtered > .expand-stub {
    font-size: 12px;
    font-weight: 600;
    transition: transform .15s ease-in-out;
    transform: rotate(90deg);
    top: 5px;
}

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
    content: "\3009";
}

.toc .nav > li > a:hover {
    text-decoration: underline;
}

.toc .nav > li.active > a:hover {
    text-decoration: underline;
}

.toc .nav > li.active > a.current {
    font-weight: 800;
}

.toc ul {
    list-style-type:  none;
}

/* ALERTS */

.alert {
    padding: 0px 0px 5px 0px;
    color: inherit;
    background-color: inherit;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(100, 100, 100, 0.4);
}

.alert>p {
    margin-bottom: 0;
    padding: 5px 10px;
}

.alert>ul {
    margin-bottom: 0;
    padding: 5px 40px;
}

.alert>h5 {
    padding: 10px 15px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.alert-info>h5 {
    color: #1976d2;
    border-bottom: 4px solid #1976d2;
    background-color: #e3f2fd;
}

.alert-warning>h5 {
    color: #f57f17;
    border-bottom: 4px solid #f57f17;
    background-color: #fff3e0;
}

.alert-danger>h5 {
    color: #d32f2f;
    border-bottom: 4px solid #d32f2f;
    background-color: #ffebee;
}

/* CODE HIGHLIGHT */
pre {
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #fffaef;
	border-radius: 4px;
	box-shadow: 0px 1px 4px 1px rgba(100, 100, 100, 0.4);
}

/* TABLES */

.table-bordered {
    font-size: 14px;
}

.table-bordered,
.table-bordered > tfoot > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > th {
    border: none;
    padding: 12px 16px;
    line-height: 1.5;
    vertical-align: top;
}

.table-bordered > tfoot > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > td
 {
    padding: 12px 16px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.table-striped > tbody > tr:nth-of-type(odd){
    background-color: transparent;
}

/* FOOTER */

.footer {
    background-color: #e3e3e3;
}

/* LOCALE */

.select-locale {
    display: flex;
    flex-wrap: wrap;
}

.select-locale .headline,
.select-locale .headline > h1 {
    flex-basis: 0%;
    min-width: 500px;
    width: 500px;
    flex-grow: 1;
    flex-shrink: 0;
}

.select-form .map-form {
    flex-basis: 600px;
}

fieldset {
    border: none;
}

fieldset,
legend {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.select-locale .term {
    position: relative;
    display: flex;
    margin-top: 20px;
    align-items: center;
    height: 100px;
}

.select-locale .term input {
    width: 600px;
    height: 36px;
    padding: 5px 7px;
    padding-right: 30px;
    border: 1px solid hsla(0, 0%, 57%, 5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
    box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.108);
    max-width: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    outline-offset: -2px;
    overflow: visible;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.select-locale input.focus-visible {
    border-color: hsla(206, 100%, 35%, 1);
}

.select-locale .spacer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

ul.select-locale {
    padding: 0;
    width: 100%;
    list-style-type: none;
}

ul.select-locale > li {
    width: 25%;
    display: inline;
}

ul.select-locale {
    margin: 0px;
    margin-top: 32px;
}

.select-locale .headline {
    flex-basis: 0%;
    min-width: 310px;
    flex-grow: 1;
    flex-shrink: 0;
}

@media screen and (min-width: 768px) {
    ul.select-locale > li {
        width: 32%;
    }
}

@media screen and (min-width: 1280px) {
    ul.select-locale > li {
        width: 24%;
    }
}

@media screen and (min-width: 1472px) {
    ul.select-locale > li {
        width: 19%;
    }
}

.is-size-7 {
	font-size: 13px !important;
}

.is-block {
	display: block !important;
}

.has-padding-left-small {
	padding-left: 0.5rem !important;
}

.has-padding-right-small {
	padding-right: 0.5rem !important;
}

.has-text-primary {
	color: hsla(206, 100%, 25%, 1) !important;
}

.has-margin-none {
	margin: 0 !important;
}

.autocomplete-suggestions {
	max-width: 500px;
	list-style-type: none;
	cursor: default;
}

.autocomplete-suggestions {
	position: absolute;
	z-index: 1;
	max-height: 15rem;
	min-width: 100%;
	padding: 0;
	border: 1px solid #ddd;
	box-shadow: 0px 1.6px 3.6px 0px hsla(0, 0%, 0%, 0.132), 0px 0.3px 0.9px 0px hsla(0, 0%, 0%, 0.108);
	background-color: white;
}

.is-vertically-scrollable {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.autocomplete-suggestion {
	display: block;
	border: 1px solid transparent;
	outline: 0;
	margin: 0;
	padding: 0;
}

.autocomplete-suggestions.is-active-descendant,
.autocomplete-suggestions:hover {
	background-color: hsla(0, 0%, 95%, 1);
	border: 1px solid #ddd;
}

.position-is-relative {
    position: relative;
}

.back {
    z-index: 0;
}

.input:focus {
	box-shadow: 0px 0px 0px 0.12rem hsla(206, 100%, 35%, 1);
	outline: none !important;
    border-color: hsla(206,100%,35%,1);
	outline-offset: 0px !important;
	margin-bottom: 2px !important;
}

.input:hover {
	border-color: hsla(206,100%,35%,1);
}

.position-relative {
    position: relative!important;
    margin-top: 45px;
}

html *, html :after, html :before {
    box-sizing: inherit;
}

.title.is-3 {
    font-size: 1.75rem;
}

.box:not(:last-child), .level:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle, .title {
    word-break: break-word;
}

.margin-top-sm {
    margin-block-start: 1.5rem!important;
}

.alert {
    word-wrap: break-word;
    background-color: #f2f2f2;
    border: 1px solid hsl(0deg 0% 100% / 0%);
    border-radius: .375rem;
    color: #171717;
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    outline-color: #171717;
    padding: 1rem;
    position: relative;
    transition: height .5s ease-in, opacity .5s ease-in;
    word-break: break-word;
}

.alert>:first-child {
    margin-top: 0;
}

.alert>* {
    max-width: 100%;
}

.margin-top-xs {
    margin-block-start: 1rem!important;
}

.margin-bottom-xxs {
    margin-block-end: .5rem!important;
}

.button {
    background-color: #fff;
    border-color: #505050!important;
    border-radius: .125rem;
    border-width: 1px;
    color: #171717;
    font-weight: 600;
    justify-content: center;
    padding-block-end: calc(.375em - 1px);
    padding-block-start:  calc(.375em - 1px);
    padding-inline-end: .75em;
    padding-inline-start: .75em;
    text-align: center;
    text-decoration: none;
    align-items: center;
    border: 1px solid transparent;   
}

.padding-right-xxs {
    padding-inline-end: .5rem!important;
}

p#send-feedback-about {
    padding: 5px 0px;
}